:80 {
    handle_path /api/static/* {
    	root * /static_files/api
        file_server
    }
    handle /api/* {
    	reverse_proxy api:8000
    }
    handle {
	    root * /static_files/frontend
	    try_files {path} /index.html
	    file_server
    }
}