name: numbat-tasks-example

services:
    api:
        image: ghcr.io/hybridau/numbat-tasks-api:0.2.0
        env_file:
            - settings.env
        depends_on:
            database:
                condition: service_started
        volumes:
            - static_files:/static_files
    database:
        image: postgres:16-bookworm
        volumes:
            - postgres_data:/var/lib/postgresql/data/
        env_file:
            - settings.env
    frontend:
        image: ghcr.io/hybridau/numbat-tasks-frontend:0.2.0
        volumes:
          - static_files:/static_files
        env_file:
            - settings.env
    caddy:
        image: caddy:2-alpine
        ports:
            - "127.0.0.1:8000:80"
        volumes:
            - ./Caddyfile:/etc/caddy/Caddyfile:ro
            - caddy_data:/data
            - caddy_config:/config
            - static_files:/static_files:ro

volumes:
    postgres_data:
    caddy_data:
    caddy_config:
    static_files: