# Mostly base on https://docs.github.com/en/actions/use-cases-and-examples/publishing-packages/publishing-docker-images#publishing-images-to-github-packages
name: Create and publish a Docker image

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # There are actions to do build and push, but they have a little too much magic for me
      # Build
      - name: Build API docker images
        run: docker build -f docker/api/api.dockerfile -t ghcr.io/hybridau/numbat-tasks-api:${{ github.ref_name }} -t ghcr.io/hybridau/numbat-tasks-api:latest .
      - name: Build Frontend docker images
        run: docker build -f docker/frontend/frontend.dockerfile -t ghcr.io/hybridau/numbat-tasks-frontend:${{ github.ref_name }} -t ghcr.io/hybridau/numbat-tasks-frontend:latest  .

      # Push
      - name: Push API docker images
        run: docker image push ghcr.io/hybridau/numbat-tasks-api:${{ github.ref_name }}
      - name: Push Frontend docker images
        run: docker image push ghcr.io/hybridau/numbat-tasks-frontend:${{ github.ref_name }}
      # Also push the latest tag
      - name: Tag latest API docker images
        run: docker image push ghcr.io/hybridau/numbat-tasks-api:latest
      - name: Tag latest Frontend docker images
        run: docker image push ghcr.io/hybridau/numbat-tasks-frontend:tag
