name: Frontend TypeScript Linting
on: [pull_request]
defaults:
    run:
        working-directory: ./frontend

jobs:
    lint-typescript-files:
        runs-on: ubuntu-latest
        steps:
            # Setup
            - name: Check out repository code
              uses: actions/checkout@v4

            - uses: pnpm/action-setup@v4
              name: Install pnpm
              with:
                version: 9
                run_install: false

            - name: Install Node.js
              uses: actions/setup-node@v4
              with:
                node-version: 22
                cache: 'pnpm'
                cache-dependency-path: frontend/pnpm-lock.yaml

            - name: Install dependencies
              run: pnpm install

            - name: TypeScript Check
              run: pnpm tsc

            - name: Biome check
              run: pnpm biome check src
