name: Python Linting
on: [pull_request]
defaults:
    run:
        working-directory: ./api
jobs:
    lint-python-files:
        runs-on: ubuntu-latest
        steps:
            # Setup
            - name: Check out repository code
              uses: actions/checkout@v4
            - uses: actions/setup-python@v5
              with:
                  python-version: '3.11'
                  cache: 'poetry'
            - run: pip install poetry
            - run: poetry install --only linting

            # Tests
            - name: black
              run: poetry run black --check .

            - name: isort
              run: poetry run isort --check .

            - name: flake8
              run: poetry run flake8 .
